<!DOCTYPE html>
<html>
<head>
  <title>NoFate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
</head>

<body>
	
<!--	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
	<script src="/home/anton/todoapp_5/app/assets/javascripts/jquery.backstretch.min.js"></script>;-->

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
    
    <nav class="navbar navbar-default">

		<div class="container">
			<% if user_signed_in? %>					
				<div class="navbar-header">
					<%= link_to "Projects", root_path, class: "navbar-brand navbar-left" %>
				</div>	

				<div class="navbar-text">
					Logged in as <%= current_user.email%>
				 </div>

				<%= link_to "New progect", new_project_path, class: "navbar-text navbar-link navbar-right" %>
			<% end %>

			<ul class="nav navbar-nav">
				<li><%= link_to "Sign up", new_user_registration_path %></li>
					<% if current_user.present? %>
						<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
					<%else%>		
						<li><%= link_to "Log in", new_user_session_path%></li>
						
						<div class="navbar-text">
							Create your own fate
				 		</div>

					<% end %>

			</ul>
		</div>

	</nav>
	
<div class="container">  
	<%= yield %>
</div>

</body>

</html>
